.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user img {
  width: 200px;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.follower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follower img {
  width: 200px;
  height: 200px;
}